[submodule "modules/pycot"]
	path = modules/pycot
	url = https://github.com/DavidIngraham/pycot.git
[submodule "modules/gexml"]
	path = modules/gexml
	url = https://github.com/DavidIngraham/gexml.git
